
@font-face {
    font-family: 'Play';
    src: url(../font/play.ttf);
}

@font-face {
    font-family: 'HeliosBold';
    src: url(../font/HeliosBold.ttf);
}

@font-face {
    font-family: 'Sarala_reg';
    src: url(../font/Sarala-Regular.ttf);
}